<nav class="navbar navbar-expand-md bg-white shadow border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-dark" href="/listings"><i class="fa-solid fa-hotel"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" href="/listings">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/listings">All Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/listings/new">Add New Listing</a>
        </li>
      </ul>

      <form class="d-flex me-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>

      <a class="btn btn-primary ms-2" href="/login">Login</a>
    </div>
  </div>
</nav>
